# dependencies
/node_modules
/app/node_modules
/app/.pnp
.pnp.js

# testing
/app/coverage

# production
/app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
